@import url('https://fonts.googleapis.cog/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {

    --bg:         oklch(25%   0       0deg);   /* #333333  */
    --lighter-bg: oklch(35%   0       0deg);   /* slightly lighter */
    --text:       oklch(98%   0.005   0deg);   /* #F4F4F4  */
    --muted-text: oklch(85%   0.005   0deg);   /* Slightly darker */
    --primary:    oklch(95%   0.06   200deg);  /* #C3EFFF  */
    --highlight:  oklch(95%   0.11   287deg);  /* #D9C1FF  */
    --border:     oklch(40%   0.005   0deg);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: var(--bg);
}

p,
a,
h1, h2, h3, h4, h5, h6 {
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
}

/* Navbar section */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__profile-image {
    width: 2em;
    height: 2em;
    padding: 20px 0;
    border-radius: 35%;
}

/* Navlink styles for mobile */

.overlay{
    content: '';
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 100;
}

/* Subtle handle bar icon */
.navbar__links ul::before{
    content: '';
    background-color: white;
    display: flex;
    margin: 0 auto 2.5rem auto;
    width: 20px;
    height: 2px;
    border: 2px solid var(--border);
    align-self: center;
    justify-content: center;
}

.navbar__links {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    padding: 1.25rem 0 2rem 0;
    z-index: 101;
}

.navbar__links ul {
    list-style: none;
    width: 100%;
}

.navbar__links li {
    width: 100%;
}

.navbar__links a {
    width: 100%;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.navbar__links a:hover {
    background-color: var(--lighter-bg);
}

.navbar__links svg {
    display: block;
    text-align: center;
}

.navbar__links span {
    display: block;
    padding: 0.35rem;
    text-align: center;
}

/* Icon styles */

.navbar__icon {
    background: none;
    border: none;
}

.navbar__icon svg {
    width: 16px;
    height: 16px;
    color: var(--text);
    padding: 0.35rem;
    border-radius: 100%;
    border: 1px solid var(--border);
}

.navbar__icon a {
    text-decoration: none;
    color: var(--text);
    font-family: 'JetBrains Mono Thin', sans-serif;
}

/* Desktop styles */
@media (min-width: 768px) {

    /* Resetting mobile styles */
    .navbar__links ul::before {
        display: none;
    }

    .navbar__links svg {
        display: none;
    }

    .navbar__link--active svg {
        display: block;
    }

    .navbar__links span{
        text-align: left;
    }

    .navbar__links a:hover{
        background-color: transparent;
    }

    .overlay {
        display: none;
    }

    .hamburger-menu {
        display: none;
    }

    .navbar__links {
        /* Style reset */
        position: static;
        left: auto;
        bottom: auto;
        width: auto;
        margin: initial;
        background-color: initial;

        /* Actual desktop styles */
        display: flex;
        justify-content: space-around;
        border: 1px solid var(--border);
        border-radius: 25px;
        padding: 0 1rem;
        background-image: linear-gradient(
                to top,
                oklch(30% 0.005 0deg),
                var(--bg)
        );
    }

    .navbar__links ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    .navbar__links li {
        padding: 0.35rem 0.75rem;
    }

    .navbar__links a {
        font-size: 14px;
        padding: 0;
    }

    .navbar__links span {
        padding: 0;
    }

    .navbar__link--active {
        display: inline-flex;
        align-items: center;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right, transparent 0%, var(--primary) 40%, var(--primary) 60%, transparent) 1;
    }

    .navbar__link--active a {
        display: inline-flex;
        align-items: center;
        color: var(--primary);
    }

    .navbar__link--active span {
        color: var(--primary);
    }

    .navbar__link--active svg {
        margin-right: 0.5rem;
        color: var(--primary);
    }
}

/* Hero Section */

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10%;
}

.hero__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10%;
}

.hero__image {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin: 1.5rem;
}

.hero__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    /*border: 1px solid white;*/
}

.hero__text-container p {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    padding: 0.5rem 0;
}

.hero__text-container span {
    font-size: 25px;
    text-wrap: nowrap;
    font-family: "JetBrains Mono", sans-serif;
}

.hero__text-container .hero__text--muted {
    color: var(--muted-text);
    font-size: 14px;
}

/* Hero icon styles */
.hero__links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.hero__links a {
    text-decoration: none;
}

.hero__icon{
    width: 1.15rem;
    height: 1.15rem;
    color: var(--text);
    padding: 0.5rem;
    border-radius: 100%;
    margin: 0.5rem 2rem 1.5rem;
}

.mail-icon {
    background: #e6603c;
}

.discord-icon {
    background: #5865F2;
}

.github-icon {
    background: #040505;
}


/* Subtle scroll subsection */

.subtle-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subtle-scroll__icon {
    width: 2rem;
    height: 2rem;
    color: var(--text);
}